:root{
  --text-color: #000;
  --bg-color: #fff;
  --warning: orange;
  --success: green;
  --error: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efeae7;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marked{
  background-color: #f26f5b;
  color: #fff;
}

.non-marked{
  background-color: #fef4f5;
  color: #615d5c;
}